<div class="card m-3">
  <div class="card-body">
    <p><% review.rating.times do %>
<<<<<<< HEAD
      <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
    <% end %></p>
=======
        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
      <% end %></p>
>>>>>>> master
    <p><%= review.content %></p>
  </div>
</div>
