<footer class="footer bg-white" style="height: 30px width:auto, font-size:8px;">
  <%# fixed-bottom %>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="mb-2 me-4">
      <a href="your-terms-url" class="text-decoration-black">Terms of Use</a>
    </div>
    <div class="mb-2 me-4">
      <span>LuxuryGood Global Services Limited</span>
      <span>© 2024 LuxuryGood, Inc.</span>
    </div>
    <div class="mb-2 me-4">
      <span>Japan-日本 | ¥</span>
    </div>
  </div>
</footer>
