<div class="container">
  <div class="name product">
    <%= f.input @product.title %>
  </div>
  <div class="date start">
  </div>
  <div class="date end">
  </div>
  <div class="icon container">
    <p>request</p>
    <div class="icon">
      <a><i class="fa-solid fa-bookmark"></i><a>
        </div>
      </div>
    </div>
    <!--WIP-->
