<!--User should be able to see random or last item added by another user-->
<div class="content" style="font-family:Playfair Display">
  <div class="banner">
    <div class="banner-block">
      <h1>Welcome to LuxeHaven</h1>
      <p>
        At LuxeHaven, we believe that the finer things in life should be within your reach, whenever you need them.
        Whether it’s a gala, a wedding, a corporate event, or a special occasion,
        our marketplace offers an exclusive collection of luxurious goods available for rent, allowing you to make a statement without the commitment.
      </p>
      <%= link_to "Our articles", products_path, class: "btn btn-outline-light text-white text-decoration-none" %>
    </div>
  </div>
</div>
