<!--User should be able to see random or last item added by another user-->
<html>
  <body>
    <div class="content" style="font-family:Playfair Display">
      <div class="banner">
        <div class="banner-block">
          <h1>Welcome to LuxeHaven</h1>
          <p>
            At LuxeHaven, we believe that the finer things in life should be within your reach, whenever you need them.
            Whether it’s a gala, a wedding, a corporate event, or a special occasion,
            our marketplace offers an exclusive collection of luxurious goods available for rent, allowing you to make a statement without the commitment.
          </p>
          <%= link_to "Our articles", products_path, class: "btn btn-outline-light text-white text-decoration-none" %>
        </div>
      </div>
      <!--row-->
      <!--row-->
      <div class="concept">
        <div class="container">
          <div class="row mt-3">
            <!-- First Column -->
            <div class="col-md-5 mt-4">
              <div class="content d-flex align-items-start">
                <%= image_tag 'ex_img', style: "width: 150px; height: 430px; object-fit: cover;", alt: "ex", class: "me-3" %>
                <div>
                  <h2>Curated Collection of Extravagance</h2>
                  <p>
                    Our carefully curated selection features the epitome of elegance and sophistication.<br>
                    From exquisite watches that keep more than just time, to tailored suits that define your style, our offerings are designed for those who demand the best.<br>
                    Step into luxury with our stunning range of high-end cars, or add a touch of glamour with our handpicked jewels, each piece telling a story of timeless beauty.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-2 mt-4">
            </div>
            <!-- Second Column -->
            <div class="col-md-5 mt-4">
              <div class="bg-content">
                <h2>Why Rent?</h2>
                <p>
                  Luxury is about experiencing the extraordinary.<br>
                  Renting allows you to enjoy a diverse range of premium products without the constraints of ownership.<br>
                  LuxeHaven provides you with the flexibility to select the perfect items for each event, ensuring that you always have access to the latest and most coveted pieces.
                </p>
                <%= image_tag url="car_driving", style: "width: 100%; height: 235px; max-height: 500px; object-fit: cover;", alt:""%>
              </div>
            </div>
          </div>
        </div>
        <div class="concept" >
          <div class="container">
            <div class="row mt-3 mb-2">
              <!-- First Column -->
              <div class="col-md-5 mt-4">
                <h2>Our Commitment to Your Trust</h2>
                <div class="content">
                  <p>
                    At LuxeHaven, we understand that trust is the cornerstone of a successful marketplace. That's why we prioritize your confidence in every transaction and product listed on our platform.
                    Every item submitted to our marketplace undergoes a rigorous validation process before it becomes available to you. Our cutting-edge bot, equipped with advanced algorithms and machine learning capabilities, meticulously reviews each submission to ensure it meets our high standards of quality and authenticity. This automated system is designed to detect any discrepancies, ensuring that only the best and most reliable products make it to our marketplace.
                    By leveraging this technology, we can offer you a secure and trustworthy shopping experience, knowing that each item has been thoroughly vetted. Your satisfaction and safety are our top priorities, and we continuously work to maintain the highest level of integrity in our marketplace.
                    Thank you for placing your trust in us. We are committed to delivering a platform where you can shop with confidence, knowing that every product has been carefully validated for your peace of mind.
                  </p>
                </div>
              </div>
              <div class="col-md-2 mt-4">
              </div>
              <!-- Second Column -->
              <div class="col-md-5 mt-4">
                <div class="content">
                  <%= render "shared/featured" %>
                </div>
              </div>
            </div>
            <div class="col-md-5 mt-4">
              <h2>News & Updates:</h2>
              <div class="content-border">
                <p>
                  Summer Holiday Closing Notice
                  Please be informed that LuxeHaven Co. Ltd. will be closed from Aug 11th to Aug 18th for Summer Holidays.
                  Responses to the inquiries received during the period will be processed after 19th Aug and thereafter.
                  We are sorry for any inconvenience caused.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
