<% if status == "pending" %>
  <p class="pending status"> PENDING </p>
<% elsif status == "rejected" %>
  <p class="rejected status"> REJECTED </p>
<% elsif status == "accepted" %>
  <p class="accepted status"> ACCEPTED </p>
<% end %>
