<% if status == "pending" %>
  <div class="status pending"><p> PENDING </p></div>
<% elsif status == "rejected" %>
  <div class="status rejected"><p> REJECTED </p></div>
<% elsif status == "accepted" %>
  <div class="status accepted"><p> ACCEPTED </p></div>
<% end %>
