// Mixin for common avatar styles
@mixin avatar-styles($width, $border-radius: 50%, $box-shadow: none, $border: none) {
  width: $width;
  height: $width; // Ensures height matches width for square avatars
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; // Removes underline
  background-size: cover; // Ensure the image covers the avatar completely
  background-position: center; // Center the image within the avatar
}

// Base avatar style with background image
.avatar {
  @include avatar-styles(40px);
  background-color: #f8f9fa; // Light background color for fallback
  // background-image: url('pic_avatar.jpg'); // Replace with the path to your image
  transition: background-color 0.3s, color 0.3s; // Smooth transitions


  // Hover effect for avatar
  &:hover {
    background-color: #e9ecef; // Slightly darker background on hover
  }
}

// Large avatar style with background image
.avatar-large {
  @include avatar-styles(56px);
}

// Avatar with border
.avatar-bordered {
  @include avatar-styles(40px, 50%, 0 1px 2px rgba(0, 0, 0, 0.2), white 1px solid);
}

// Square avatar style
.avatar-square {
  @include avatar-styles(40px, 0, 0 1px 2px rgba(0, 0, 0, 0.2), white 1px solid);
}

// Avatar Styles
.avatar:hover {
  color: #b4a8a9; // Hover color
}
