.content h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px #131111;
  border-width: thin;
  padding: 5px;
}

.content-border {
  border: double 5px #8d021f;
  padding: 5px;
}

// .bg-content {
//   background-image: url(watch_bg);
//   width: 475px;
//   height: 500px;
//   object-fit: cover;
//   background-position: 50% 50%;
//   opacity: 0.3;

// }
