// Navbar Styles
.navbar {
  background-color: #322d29;
  font-family: 'Playfair Display', serif;
  height: 70px;
  max-height: 70px
  !important;

  .navbar-brand,
  .nav-link {
    color: #efe9e1; // Text color
    &:hover {
      color: #b4a8a9; // Hover color
    }
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;

    i {
      color: #fff; // Icon color
      font-size: 24px; // Adjust the size of the icon if needed

      &:hover {
        color: #e9ecef; // Slightly darker on hover
      }
    }
  }
}

// Avatar Styles
.avatar:hover {
  color: #b4a8a9; // Hover color
}

// Logo Styles
.logo-container {
  display: flex;
  align-items: center;
  padding: 0;
}

// Tooltip Styles
.plus-tooltip {
  display: none;
  position: absolute;
  top: 100%; // Adjust if needed
  left: 50%;
  transform: translateX(-50%);
  background-color: #322d29; // Background color for the tooltip
  border: 1px solid #72383d; // Border color
  padding: 5px 10px;
  border-radius: 4px; // Rounded corners
  white-space: nowrap;
  z-index: 1000; // Ensure tooltip appears above other elements
  font-size: 14px; // Adjust font size as needed
}

 .title {
  border: solid 1px #EFE9E1;
  border-radius: 4px;
  padding: 3px 12px;
 }

 .icon-right {
  border: solid 1px #EFE9E1;
  border-radius: 50%;
  padding: 3px 12px; }
