.product-container {
  margin: 0 auto;
}

.product-img {
  width: 100%;
  display: flex; /* Centers the image horizontally */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  overflow: hidden; /* Ensures the image doesn't overflow the container */

  img {
    width: auto; /* Maintain the image's aspect ratio */
    height: 100%; /* Ensure the image takes up the full height */
    max-width: 100%; /* Prevents the image from stretching beyond the container */
    margin: 6px;
    object-fit: cover; /* Ensures the image covers the container without stretching */
  }
}

.own-product-card {
  border-radius: 10px;
}

.own-product-card-body {
  margin: 0;
  padding: 0;

  img {
    border-radius: 10px 0 0 10px;
  }
}
