.product-thumbnail-img {
  width: 100%;
  height: 100%;
}
.product-thumbnail {
  height: 150px;
  padding: 0;
}

.pending {
  background-color: blue;
  width: 100%;
  text-align: center;
  color: white;
}
.rejected {
  background-color: red;
  width: 100%;
  text-align: center;
  color: white;
}
.accepted {
  background-color: green;
  width: 100%;
  text-align: center;
  color: white;
}

.new_renting_request {
  padding: 20px;
  margin-top: 20px;
  align-content: center;
  background-color: rgba(172, 156, 141, 0.6);
  border-radius: 4px;
}
